<html>
  <head>
    <title>选择日志</title>
  </head>
  <body>
    <table>
      <tr>
          <td><h3>请选择需要查看的应用日志：</h3></td>
      </tr>
    </table>
    <hr>
    <table>
      {% for app in applist %}
      <tr valign="top">
          <td></td> <td><h3><a href="{{ url_for('show_logs', appname=app) }}">{{app}}</a></h3></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>