<html>
  <head>
    <title>查看日志</title>
  </head>
  <body>
    <table>
      <tr>
          <td><h3>{{appname}} 日志信息</h3></td>
      </tr>
    </table>
    <hr>
    <table width="400">
      <tr valign="top">
          <td style="width:10%"></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=1) }}">第一页</a></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=page-1) }}">上一页</a></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=page+1) }}">下一页</a></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=9999) }}">最后页</a></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=page) }}">刷新</a></td>
          <td><a href="{{ url_for('show_applist') }}">返回</a></td>
      </tr>
    </table>
    <table>
      {% for msg in messages %}
      <tr valign="top">
          <td>[{{msg['asctime']}}]</td> 
          <td>[{{msg['levelname']}}]</td> 
          <td>[{{msg['process']}}:{{msg['processName']}}]</td> 
          <td>[{{msg['filename']}}:{{msg['lineno']}}]</td> 
          <td>{{msg['message']}}</td> 
      </tr>
      {% endfor %}
    </table>
    <table width="400">
      <tr valign="top">
          <td style="width:10%"></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=1) }}">第一页</a></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=page-1) }}">上一页</a></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=page+1) }}">下一页</a></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=9999) }}">最后页</a></td>
          <td><a href="{{ url_for('show_logs', appname=appname, page=page) }}">刷新</a></td>
          <td><a href="{{ url_for('show_applist') }}">返回</a></td>
      </tr>
    </table>    
  </body>
</html>